@model WebShop.Cart


<div class="card">
    <div class="card-text">
            @if(Model.Lines.Sum(x => x.Quantity)>0)
            {
                <label id="bucket"><a href="~/Cart?returnUrl=@Request.Url.PathAndQuery">Корзина:</a></label>
            }
            else
            {
                <label id="bucket">Корзина:</label>
            }
        
        <p> @Model.Lines.Sum(x => x.Quantity) позиций,
        @Model.ComputeTotalValue() руб.</p>
         @if(Model.Lines.Sum(x => x.Quantity)>0)
          {
            @Html.ActionLink("Оплатить", "Index", "Cart", new { returnUrl = Request.Url.PathAndQuery }, null)
          }
    </div>
</div>
<div class="card">        
    <img src="~/Images/cart.png" class="cardImg"/>
    
</div>
