@model IEnumerable<WebShop.Country>
    @{
        ViewBag.Title = "Index";
    }
@if(Request.IsAuthenticated){
    
    

    <h2>Редактирование стран</h2>
     @if(Request.IsAuthenticated){
    <p>
        @Html.ActionLink("Создать", "Create")
    </p>
     }
    <table>
        <tr>
            <th>
                <!--@Html.DisplayNameFor(model => model.name)-->
                <label>Просмотр</label>
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @if(Request.IsAuthenticated){
                @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) 
                <!--@Html.ActionLink("Подробно", "Details", new { id=item.id }) |-->
                @Html.ActionLink("Удалить", "Delete", new { id=item.id })
                }
            </td>
        </tr>
    }

    </table>
}else{
    
    <h1>404 Not found</h1>
}
